*.exe
*.out
*.app
*.o
*.a

build/
out/
bin/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt

.vs/
.vscode/
*.user
*.suo

*.log
*.csv

notatki.txt
uwagi.txt